
@media screen and (min-width: 813px) {
body {
  background: #9A0000;
  font-family: 'Overpass Mono', monospace;
  /*
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  */
  font-size: 8px;
}
}


header {
  padding-left: 2.5rem;
  padding-top: 1.5rem;
}

h1 {
  font-weight: 600;
  float:left;
}

.box_contact_link {
background-color: #72683F;
float: right;
width: 3.5vh;
height: 3.5vh;
margin-top: 1rem;
margin-right: 2.5rem;
}

.box_one_off_link {
background-color: #D8BF21;
float: right;
width: 3.5vh;
height: 3.5vh;
margin-top: 11rem;
margin-right: 5.5rem;
}

.clear {clear:left;}


.window {
position: absolute;
width: 22%;
right: 2.5rem;
bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 2.5rem;
  margin-left: 2.5rem;
}

.box_mix_link {
  float:left;
  position: absolute;
  bottom: 7vh;
  left: 0;
background-color: #550099;
width: 3.5vh;
height: 3.5vh;
}

.box_instagram_link {
  float:left;
background-color: #000000;
position: absolute;
bottom: 0;
left: 0;
width: 3.5vh;
height: 3.5vh;
}

.candle_grid {
  float:left;
  margin-left: 10rem;
}

.short_standard {
position: relative;
 height: 20vw;
 width: auto;
 margin-right: 13vw;
}

.tall_standard {
  position: relative;
  height: 35vw;
  width: auto;
  margin-right: 13vw;
}

.thin_standard {
  position: relative;
  height: 35vw;
  width: auto;
}

.short_standard_page {
  position: absolute;
  height: 35%;
  width: auto;
  left: 8rem;
  bottom: 0rem;
}

p {

}


.home_box {
  background-color: black;
  position: absolute;
  height: 3.5vh;
  width: 3.5vh;
  top: 3rem;
  right: 3rem;
}


@media screen and (max-width: 812px) {
  body {
      background: blue;
      font-family: 'Overpass Mono', monospace;
      font-size: 8px;

  }
  .short_standard {
  position: relative;
   width: 50vw;
   height: auto;
   margin-right: 13vw;
  }

  .tall_standard {
    position: relative;
    height: 35vw;
    width: auto;
    margin-right: 13vw;
  }

  .thin_standard {
    position: relative;
    height: 35vw;
    width: auto;
  }



}
